<!-- Index.cshtml -->
@model IEnumerable<Blog>
<head>
<!--this this the view page that will display the blog post.-->
<title>Chronicles of E Bond</title>
<link rel="stylesheet" href="styles.css">
</head>
<div>
    <h3 class="blogtitlesum" id="blogsummary"><b>Dive into our Blog</b><br> We share  personal stories, practical tips on navigating the complexities of relationships.<br>
        Here is a space for reflection, learning, and growth.</h3>
</div>
<body>
@foreach (var blog in @Model)
{
    <div class="container" id="postContainer">
        <h2>@blog.PostTitle</h2>
       <p>@blog.PostAuthor</p>
        <p>@blog.PostContent</p>
        @if(User.IsInRole("Admin"))
        {
            <p>
            @Html.ActionLink("Update", "UpdateBlog", new { id = blog.PostId })
            @Html.ActionLink("Delete", "DeleteBlog", new { id = blog.PostId })
            </p>
        }
       
    </div>
}
</body>
<footer class="blogpage" id="blogdelete">
@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Create New Post", "Blog") <!--Here "ChronicleEBPost" to replace "Create" that was here before-->
}
</footer>

